extends ui_layout_no
  
block content

  //-Change this URI to a CDN you are using for Photos
  -var cdn = "";
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if user.profile.picture
          img(src='/user_post/'+user.profile.picture)
        else
          img(src=user.gravatar(60))
      .content
        a.header(href='/me')= user.profile.name || user.username || user.id
        .meta="@"+user.username
        .description=user.profile.bio
        .description
          if user.profile.location
            i.marker.icon
            span=user.profile.location
      .one.ui.bottom.attached.icon.buttons
          button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
            i.write.icon

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
    #newpost.ui.fluid.left.labeled.right.icon.input
      .ui.label
        if user.profile.picture
          img.ui.avatar.image(src='/user_post/'+user.profile.picture)
        else
          img.ui.avatar.image(src=user.gravatar(60))
      input(type='text', placeholder='Please add a caption to your intro post')
      i.big.photo.link.icon
  
    each val in script
      //- create a card for each post in val (if by user make the card a little different)
      //- if val.relativeTime - then post came from user_post (so user post, user reply to actor reply to user post)
      if val.relativeTime
        -var u_class;
        -if (val.actorAuthor) {u_class = "actorReply"}
        -else if (val.reply) {u_class = "userReply"}
        -else {u_class = "userPost"}
        .ui.fluid.card(u_postID=val.id, type=u_class, postID=val.postID)
          
          //- This is a User made post
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='/me')
              if user.profile.picture
                img(src='/user_post/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            a(href='/me')
              span=user.profile.name || user.username || user.id
          .image
            img(src='/user_post/'+val.picture)
          .content
            .description=val.body
          .two.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            if val.liked
              .ui.red.like.button
                i.heart.icon
                |  Like
            else
              .ui.like.button
                i.heart.icon
                |  Like
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if (user.createdAt.getTime() + comment.time) < Date.now()
                    if !comment.flagged
                      if comment.new_comment
                        -console.log("New COMMENT AREA");
                        .comment(commentID=comment.commentID)
                          a.avatar.image(href='/me')
                            if user.profile.picture
                              img(src='/user_post/'+user.profile.picture)
                            else
                              img(src=user.gravatar(60))
                          .content
                            a.author(href='/me')=user.profile.name || user.username || user.id
                            .metadata
                              span.date=(user.createdAt.getTime() + comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
                      //- Else If this is a comment nudge
                      else if comment.class == 'commentNudge'
                        
                        -console.log('commentNudge')
                        -console.log(comment.nudgeShown)
                        -console.log('COMMENT NUDGE SHOWN 1: ' + comment.userAction)
                          
                        if comment.nudgeShown
                          if comment.userAction == 'hide'
                            -console.log('DISPLAY THE HIDE COMMENT NUDGE')
                            .comment(commentNudgeID=comment.commentID)
                              a.avatar(href='/user/'+comment.actor.username)
                                //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                                img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                              .content
                                | Hidden Comment
                                .text
                                  | This comment was hidden as it may contain offensive content which can be hurtful to others.
                                .actions
                                  a.unhide.commentnudge Unhide
                          else if comment.userAction == 'block'
                            -console.log('DISPLAY THE BLOCK COMMENT NUDGE')
                            .comment(commentNudgeID=comment.commentID)
                              .content
                                | Blocked User
                                .text
                                  | This comment has been blocked. This comment also violates our community guidelines. Further violation may result in a ban for this user. 
                                  a(href='') 
                                    | Learn more 
                                    i.info.circle.icon 
                            script.
                              // TODO: ADD CODE TO OPEN MODAL
                              console.log('COMMENT NUDGE SHOWN A: ' + #{comment.nudgeShown})
                                                  
                          else if comment.userAction == 'blockAndReport'
                            -console.log('DISPLAY THE BLOCK AND REPORT COMMENT NUDGE')
                            .comment(commentNudgeID=comment.commentID)
                              .content
                                | Blocked and Reported User
                                .text
                                  | The user #{comment.actor.username} has been blocked and reported. This comment also violates our community guidelines. Further violation may result in a ban for this user. 
                                  a(href='') 
                                    | Learn more 
                                    i.info.circle.icon 
                            script.
                              // TODO: ADD CODE TO OPEN MODAL
                              console.log('COMMENT NUDGE SHOWN B: ' + #{comment.nudgeShown})
                            
                          else if comment.userAction == 'unhide'
                            //- If NUDGE IS JUST UNHIDE, just show a generic mean comment
                            -console.log('DISPLAY THE UNHIDE COMMENT NUDGE AFTER NUDGE')
                            .comment(commentID=comment.commentID)
                              a.avatar(href='/user/'+comment.actor.username)
                                //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                                img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                              .content
                                a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                                .metadata
                                  span.date=(user.createdAt.getTime() + comment.time)
                                  .rating
                                    if comment.liked
                                      i.red.heart.icon
                                      span=comment.likes
                                      | Likes 
                                    else
                                      i.heart.icon
                                      span.num=comment.likes
                                      |  Likes
                                .text='your post is so stupid!'
                                .actions
                                  if comment.liked
                                    a.red.like.comment Like
                                  else
                                    a.like.comment Like
                                  a.flag.comment Flag
                            script.
                              // TODO: ADD CODE TO OPEN MODAL
                              console.log('COMMENT NUDGE SHOWN C: ' + #{comment.nudgeShown})
                            
                          else
                            //- Log the display command
                            -console.log('DISPLAY THE FULL COMMENT NUDGE')

                            //- Main Comment Nudge Modal
                            .ui.modal#commentNudgeModal(
                                commentNudgeID=comment.commentID, 
                                comment_id=comment._id,
                                postnudgeID=val.id, 
                                nudgeShown=comment.nudgeShown
                                actorID=comment.actor.username
                                style='width: 380px; border-radius: 15px;'
                            )
                                //- Close Button
                                i.close.icon#closeModalCommentNudgeIconButton(style='position: absolute; top: 1px; right: 8px; color: black;') 

                                //- Modal Content
                                .content(style='border: 1px solid #ddd; padding: 40px 20px 20px 20px; background-color: #f9f9f9; flex-grow: 1; text-align: center; border-radius: 15px; font-size: 15px;')
                                    //- Username and Violation Notice
                                    p(style='white-space: pre-line;')  
                                        | #[u #{comment.actor.username}] just made a comment on your post
                                        | that is #[strong hidden] as it violates our community 
                                        | guidelines due to #[strong(style='color: red;') offensive language].
                                    //- Learn More Link
                                    a(href='', style='color: #333; text-decoration: underline;')
                                        | Learn more
                                        i.info.circle.icon


                                //- Modal Actions
                                .actions(style='border-top: 1px solid #ddd; padding: 10px; background-color: #f9f9f9; text-align: center; border-radius: 15px;')
                                    .ui.attached.buttons
                                      //- Unhide Button
                                      button.ui.basic.button#unhideCommentNudge(style='border-right: 1px solid #ddd;')
                                          | Unhide
                          
                                      //- Keep Hidden Button
                                      button.ui.basic.button#hideCommentNudge(style='border-right: 1px solid #ddd;')
                                          | Keep Hidden
                                     
                                      //- Block Button
                                      button.ui.basic.button#blockCommentNudge
                                          | Block User


                            //- Secondary Report Comment Modal
                            .ui.modal#secondaryReportCommentModal(commentNudgeID=comment.commentID, 
                                comment_id=comment._id,
                                postnudgeID=val.id
                                style='width: 350px; border-radius: 15px;'
                            )
                                //- Close Button
                                i.close.icon#closeModalCommentNudgeIconButton(style='position: absolute; top: 5px; right: 10px; color: black;') 

                                //- Modal Content
                                .content(style='border: 1px solid #ddd; padding: 40px 20px 20px 20px; background-color: #f9f9f9;text-align: center; font-size: 15px;')
                                    //- Block Notice
                                    | #[u #{comment.actor.username}] has been blocked. Would you 
                                    | also like to report this user?

                                //- Modal Actions
                                .actions(style='border-top: 1px solid #ddd; padding: 10px; background-color: #f9f9f9; border-radius: 15px;')
                                    .ui.three.attached.buttons
                                        //- Yes Button
                                        button.ui.basic.button#reportCommentNudge(style='border-right: 1px solid #ddd;')
                                            | Yes
                                        //- No Button
                                        button.ui.basic.button#dontReportCommentNudge
                                            | No

                            //- Log the comment object
                            -console.log(comment)

                            //- Only if comment.userAction == 'null'
                            //- -console.log('DISPLAY THE FULL COMMENT NUDGE')
                            //- .ui.modal#commentNudgeModal(
                            //-     commentNudgeID=comment.commentID, 
                            //-     comment_id = comment._id,
                            //-     postnudgeID=val.id, 
                            //-     nudgeShown=comment.nudgeShown
                            //-     actorID=comment.actor.username
                            //-   )
                            //-   //- close button
                            //-   #closeModalCommentNudgeIconButton.icon.button.CloseModal
                            //-     i.close.icon
                            //-   .content
                            //-     | #[u #{comment.actor.username}] just made a comment on your post that is #[strong hidden] as it violates our community guidelines due to #[strong offensive language].
                            //-     a(href='') 
                            //-         | Learn more 
                            //-         i.info.circle.icon 
                            //-   .actions 
                            //-     .ui.three.attached.buttons
                            //-       #unhideCommentNudge.button.ui.basic.black.button
                            //-           | Unhide
                            //-       #hideCommentNudge.button.ui.basic.black.button
                            //-           | Keep Hidden
                            //-       #blockCommentNudge.button.ui.basic.black.button
                            //-           | Block
                            
                            //- .ui.modal#secondaryReportCommentModal(commentNudgeID=comment.commentID, 
                            //-   comment_id = comment._id,
                            //-     postnudgeID=val.id)
                            //-   #closeReportModalCommentNudgeIconButton.icon.button.CloseModal
                            //-       i.close.icon
                            //-   .content
                            //-     | #[u #{comment.actor.username}] has been blocked. Would you also like to report this user?
                            //-   .actions
                            //-     .ui.three.attached.buttons
                            //-       #reportCommentNudge.button.ui.basic.black.button
                            //-           | Yes
                            //-       #dontReportCommentNudge.button.ui.basic.black.button
                            //-           | No      
                            //- -console.log(comment)
                            .comment(commentNudgeID=comment.commentID, 
                                    postnudgeID=val.id
                                )
                              a.avatar(href='/user/'+comment.actor.username)
                                //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                                img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                              .content
                                | Hidden Comment
                                .text
                                  | This comment violates our community guidelines. Further violation may result in a ban for this user. 
                                  a(href='localhost3000/risk_information') 
                                    | Learn more 
                                    i.info.circle.icon 
                                .actions
                                  a.unhide.commentnudge Unhide
                            script.
                              // TODO: ADD CODE TO OPEN MODAL
                              console.log('COMMENT NUDGE SHOWN D: ' + #{comment.nudgeShown})
                              //- // Logic for double modal
                              //- $('.coupled.modal').modal({
                              //-     allowMultiple: false
                              //- });

                              //- // attach events to buttons, also make the nudges unexitable from clicking on background
                              //- $('#secondaryReportCommentModal').modal('attach events', '#commentNudgeModal.modal #blockCommentNudge.button');

                              // Add a 5 seconds timeout before showing the modal
                              setTimeout(function() {
                                  // Logic for double modal
                                  $('.coupled.modal').modal({
                                      allowMultiple: false
                                  });

                                  // attach events to buttons, also make the nudges unexitable from clicking on background
                                  $('#secondaryReportCommentModal').modal('attach events', '#commentNudgeModal.modal #blockCommentNudge.button');
                                  $("#commentNudgeModal").modal('setting', 'closable', false).modal('show');
                              }, 5000);


                        else 
                          //- If nudgeShown is false, then show a generic nice comment
                          -console.log('DISPLAY THE VIEW COMMENT NO NUDGE')
                          .comment(commentID=comment.commentID)
                            a.avatar(href='/user/'+comment.actor.username)
                              //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                              img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                            .content
                              a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                              .metadata
                                span.date=(user.createdAt.getTime() + comment.time)
                                .rating
                                  if comment.liked
                                    i.red.heart.icon
                                    span=comment.likes
                                    | Likes 
                                  else
                                    i.heart.icon
                                    span.num=comment.likes
                                    |  Likes
                              .text='nice!'
                              .actions
                                if comment.liked
                                  a.red.like.comment Like
                                else
                                  a.like.comment Like
                                  a.flag.comment Flag
                        
                      //- Else this is a normal comment from the script
                      else
                        .comment(commentID=comment.commentID)
                          a.avatar(href='/user/'+comment.actor.username)
                            //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                            img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                          .content
                            a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                            .metadata
                              span.date=(user.createdAt.getTime() + comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon

      //-THIS is for posts by Actors, not the USER
      else
        .ui.fluid.card.dim(postID=val.id, state=val.state || 'unread', type='actor', actor_un = val.actor.username, actor_name = val.actor.profile.name, actor_pic = val.actor.profile.picture)
          //- dimmer DIV for flagging
          .ui.dimmer.flag
                .content
                  .center
                    h2.ui.inverted.icon.header
                      i.red.flag.icon
                      |  You&apos;ve flagged this!
                      h3.ui.inverted.header
                        span="The admins will review this post further. We are sorry you had this experience."
          //- Normal Base Post
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.time)
            |  
            //-a(href='/user/'+val.actor.username)
              img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture)
              span=val.actor.profile.name
            a(href='/user/'+val.actor.username)     
              img.ui.avatar.image.lazyload(data-src=cdn+"/profile_pictures/"+val.actor.profile.picture)
              span=val.actor.profile.name
          //-div(style="position: relative; z-index: 1;")
            img(src="image.png" style="position: absolute; z-index: 2;")
            span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
          .img.post
            //-img.post(src="/"+val.picture)
            //img(src='/public/picture.svg', data-src="/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
            img.lazyload(data-src=cdn+"/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
          .content
            .description=val.body
          .three.ui.bottom.attached.icon.buttons
            .ui.reply.button(tabindex='0')
              i.reply.icon
              |  Reply
            .ui.flag.button(tabindex='0')
              i.flag.icon
              |  Flag
            if val.like
              .ui.labeled.button(tabindex='0')
                .ui.red.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label=val.likes
            else
              .ui.labeled.button(tabindex='0')
                .ui.like.button
                  i.heart.icon
                  |  Like
                a.ui.basic.red.left.pointing.label.count=val.likes
          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this
                  if (user.createdAt.getTime() + comment.time) < Date.now()
                    if comment.new_comment
                      -console.log("New COMMENT AREA");
                      .comment(commentID=comment.new_comment_id)
                        a.avatar.image(href='/me')
                          if user.profile.picture
                            img(src='/user_post/'+user.profile.picture)
                          else
                            img(src=user.gravatar(60))
                        .content
                          a.author(href='/me')=user.profile.name || user.username || user.id
                          .metadata
                            span.date=(user.createdAt.getTime() + comment.time)
                            .rating
                              i.heart.icon
                              span.num=0
                              |  Likes
                          .text=comment.body
                          .actions
                            a.like.comment Like
                            a.flag.comment Flag
                    //- Else this is a normal comment from the script
                    else
                      .comment(commentID=comment.id)
                        a.avatar(href='/user/'+comment.actor.username)
                          //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)                       
                          img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                        .content
                          a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                          .metadata
                            span.date=(user.createdAt.getTime() + comment.time)
                            .rating
                              if comment.liked
                                i.red.heart.icon
                                span=comment.likes
                                |  Likes 
                              else
                                i.heart.icon
                                span.num=comment.likes
                                |  Likes
                          .text=comment.body
                          .actions
                            if comment.liked
                              a.red.like.comment Like
                            else
                              a.like.comment Like
                            a.flag.comment Flag
          .extra.content
            .ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon

    .ui.fluid.card
      .content
        .description
        |  End of Posts for the last 48 hours.
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .ui.tiny.post.modal()
      i.close.icon
      .header Add a New Post
      .content
        form#postform.ui.feed.form(action='/post/new', method='POST', enctype='multipart/form-data')
          input(type='hidden', name='_csrf', value=_csrf)
          .field
            textarea(rows='2', placeholder='Please add a caption to your intro post', name='body')
          .field.image-upload
            label(for='picinput')
              .image.content
                img#imgInp.ui.fluid.image(src='/public/photo-camera.svg')
            //-input#picinput(type='file', accept='image/*', capture='camera', name='picinput')
            input#picinput(type='file', accept='image/*', name='picinput')
          .ui.error.message
      .actions
        input.ui.green.button(type='submit', name="foo", value='Submit', form='postform')
